<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.hawk.core.QueryExtensionPoint">
      <query
            query_language="org.hawk.versionaware.queries.VersionEOLQueryEngine">
      </query>
   </extension>
   <extension
         point="org.hawk.core.ModelExtensionPoint">
      <ModelP
            ModelParser="org.hawk.labview.LabviewModelResourceFactory">
      </ModelP>
   </extension>

</plugin>
